

.name {
    display: flex; /* Verwende Flexbox, um die Elemente nebeneinander anzuordnen */
    border-radius: 10px;
    min-width: auto;
}

.profile_pic {
    width: 250px;
    height: 250px;
    overflow: hidden;


}

.profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-text {
    margin-left: -10px;
}

.profile_info {
    width: 96%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name-text, .email {
    margin: 5px 0;
}

.friends-container,
.user-container{
    float: right;
    /*width: 250px; /* Oder eine andere geeignete Breite */
    max-width: 47% !important;
    margin-right: 20px;
    max-height: 55%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.club-button {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px 13px;
}

.search {
    margin-bottom: 10px;
}

#search-users {
    width: 100%;
    height: 60px;
    padding: 15px;
    border: 2px solid #666666;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}


#user-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Nutzer untereinander anordnen */
}
#friends-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Nutzer untereinander anordnen */
}

.user-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    background-color: white;
    height: 60px;
    justify-content: space-around;
}

.user-info {
    display: flex;
    align-items: center;
    border: 1px transparent;

}

.user-pb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.user-name {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

.friend-add,
.friend-delete{

    background-color: white;
    color: #fff;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px 13px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;


}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;


}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.edit-field{

    background-color: #FFFFFF;
    border-radius: 9px;
    z-index: 999;
    margin-bottom: 10px;
    border: 2px solid #666666;
}
.user-list-btns {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.row {
    /*max-width: 98% !important;*/
    justify-content: space-around;
    margin-right: 0 !important;
    margin-left: 0 !important;
    /*flex-wrap: nowrap !important;*/
}